.container{
    background-color: rgb(136, 135, 136);
    height: 100vh;
    padding: 5px;
    position: relative;
}
body{
    height: 500vh;
}
.block{
    height: 50px;
}
.block-1{
    background-color:red ;

    position: relative;
    top:5px;
    left: 250px;
   
}
.block-2{
    background-color:green ;
    position: absolute;
   
    
   
}
.block-3{
    background-color:yellow ;
    position: sticky;
    width: 200px;
    top: 0px;
    right:0px;

}
